*{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #00aadf;
	/*border: 1px solid black;*/
}

.desc{
	
	font-weight: bold;
	font-size: 17px;
	color: white;
}

#name{
	margin-top: 50px;
	height: 50px;
}

#logo{
	height: 300px;
}


#logo {
  transform-origin: top left;
  /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left;
  /* Chrome */
  -ms-transform-origin: top left;
  /* IE 9 */
}

#logo.rotate90{
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
}